#octaveDropdown{
  margin: auto;
  display: block;
}
#wrapper{
  transform: rotate(270deg);
  width: 100px;
  margin: auto;
}
.white{
  height: 21px;
  width: 100px; 
  background: white;
  border: 1px solid black;
}

.black{
  height: 15px;
  width: 71px; 
  background: black;
  margin: -9px 0px -6px 30px;
  z-index:1; 
  position: relative;
}

.labels{
  margin: 15px 72px 0px 0px;
  font-size: 11px;
  transform: rotate(90deg);
}
