#octaveDropdown{
  margin: auto;
  display: block;
}
#wrapper{
  transform: rotate(270deg);
  width: 100px;
  margin: auto;
}
.white{
  height: 21px;
  width: 100px; 
  background: white;
  border: 1px solid black;
}

.black{
  height: 15px;
  width: 71px; 
  background: black;
  margin-top: -9px;
  margin-left: 30px;
  margin-bottom: -6px;
  z-index:1; 
  position: relative;
}

.labels{
  margin-top: 15px;
  margin-right: 72px;
  font-size: 11px;
  transform: rotate(90deg);
}
